#big-title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

#small-title {
    font-size: 15px;
    color: gray;
    text-align: center;
    margin-top: 30px;
}

#blueboxes {
    display: inline;
}

#bluebox1{
    background-color: #2D3E98;
    padding: 30px 40px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    width: 250px;
    height: 140px;
    top: 100px;
    left: 0px;
}
#bluebox2{
    background-color: #031252;
    padding: 30px 40px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    width: 250px;
    height: 140px;
}
#bluebox3{
    background-color: #2D3E98;
    padding: 30px 40px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    width: 250px;
    height: 140px;
}
